<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Emp_leave_MasterPage.master.cs" Inherits="EmployeeManagement.Emp_leave_MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
</body>
</html>
